.custom-button {
    background-color: #0F1928;
    color: #FDFDFC;
    padding: 8px 12px;
    border: 2px solid #F8B500;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.4s ease;

    &:hover {
        background-color: #f8b500;
        border: 2px solid #0F1928;
        color: #0F1928;
    }

    &.google-sign-in {
        background-color: #00ADB5;
        color: #0F1928;
        border: 2px solid #FDFDFC;

        &:hover {
            background-color: #f8b500;
        }
    }
}

