.custom-button {
    cursor: pointer;
    background-color: #0F1928;
    color: #FDFDFC;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    letter-spacing: 1px;

    &:hover {
        background-color: #f8b500;
        border: 1px solid transparent;
        color: #0F1928;
    }

    &:focus{
        outline: none;
    }

    &.secondary {
        background-color: transparent;
        color: #0F1928;
        font-weight: lighter;
        border: 2px solid #F8B500;

        &:hover {
            color: #F8B500;
            border: 2px solid #F8B500;
        }
    }
}

