.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;

    @media screen and (max-width: 768px) {
        width: 48%;
    }

    @media screen and (max-width: 576px) {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 85%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        transition: 0.2s linear;
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .price {
            width: 10%;
        }
    }

    .custom-button {
        width: 80%;
        opacity: 0;
        position: absolute;
        top: 230px;
        transition: 0.2s linear;
        visibility: hidden;
        cursor: pointer;
    }

    &:hover {
        .image {
            opacity: 0.6;
        }
        .custom-button{
            visibility: visible;
            opacity: 1;
        }
    }
}