$sub-color: #f8b500;
$main-color: #0f1928;

@mixin shrinkLabel {
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: $main-color;
}

.form-group {
    position: relative;
    margin: 45px 0;

    .form-input {
        background: none;
        background-color: white;
        color: $main-color;
        font-size: 18px;
        padding: 10px;
        display: block;
        width: 100%;
        border: 1px solid $main-color;
        border-radius: 4px;
        margin: 25px 0;

        &:focus{
            outline: none;
            border: 1px solid $sub-color;
        }

        &:focus ~ .form-input-lable{
            @include shrinkLabel();
        }
    }

    input[type='password'] {
        letter-spacing: 0.3em;
    }

    .form-input-lable {
        color: $main-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
        }
    }
}