body {
    background-color: #FDFDFC;
    font-family: 'Poppins';
    padding: 20px 60px;
}   

@media screen and (max-width: 762px){
    body{
        padding: 10px 20px;
        padding-top: 0;
    }
}

* {
    box-sizing: border-box;
}